<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://exemplolinux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>d46f947c-949d-4951-a264-a2d329833eb9</ProjectGuid>
    <MSDeployServiceURL>exemplolinux.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ExemploLinux</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ExemploLinux</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/eabea8ba-152e-4ac9-962a-dc533ba7f02d/resourcegroups/CDSLinuxUS/providers/Microsoft.Web/sites/ExemploLinux</ResourceId>
    <ContainerResourceId>/subscriptions/eabea8ba-152e-4ac9-962a-dc533ba7f02d/resourcegroups/CDSLinuxUS/providers/Microsoft.ContainerRegistry/registries/registry20170305034701</ContainerResourceId>
    <ContainerResourceName>registry20170305034701</ContainerResourceName>
    <ResourceGroup>CDSLinuxUS</ResourceGroup>
    <Subscription>Azure MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170305034701-on.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>